.input-group {
  max-width: 10rem;
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
}

.button-group {
  margin-top: 1.25rem;
  padding: 0.25rem;
}

table {
  margin: 2rem 0;
  border-collapse: collapse;
  width: 100%;
}

button {
  padding: 0.25rem 2rem;
}

th,
td {
  border: 1px solid #ddd;
  padding: 0.8rem;
  text-align: left;
}

th,
td {
  font-size: 1.25rem;
  font-weight: 500;
}
